[submodule ".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".oh-my-zsh-custom/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/zsh-autosuggestions
	url = github:zsh-users/zsh-autosuggestions
